:root {

  --cell-color-even: rgb(18, 18, 18);

  --cell-color-even-opacity: rgba(18, 18, 18, 0.5);

  --cell-color-odd: rgb(36, 36, 36);

  --cell-color-odd-opacity: rgba(36, 36, 36, 0.5);
}

body {
  background-color: gray;
  color: white;
  margin: 0;
}

table, th, td {
  border-bottom: 1px solid rgb(81, 81, 81);
  border-collapse: collapse;
}

th, td {
  padding: 5px 0;
}

thead > tr {
  background-color: var(--cell-color-even);
}

tbody > tr:nth-child( even ) {
  background-color: var(--cell-color-even);
}

tbody > tr:nth-child( odd ) {
  background-color: var(--cell-color-odd);
}

tbody > tr:nth-child( even ):hover {
  background-color: var(--cell-color-even-opacity);
}

tbody > tr:nth-child( odd ):hover {
  background-color: var(--cell-color-odd-opacity);
}
